{extends layout.latte}

{block title}Výukový web{/block}

{block body}

    Barevné schéma stránky jsem našel zde - <a href="https://visme.co/blog/website-color-schemes/">Barvy</a>

    <img src="{$basePath}/img/barvy.png" width="700", height="305">

{/block}