
{block title}Výukový web{/block}

{block body}

    <styles>body {
        background-color: #2B2C28;
        }
        h1 {
        color: #B0C2DC;
        text-align: center;
        font-family: monospace;
        font-size: 50px;
        }
        canvas {

        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        }

        .nadpis{
        font-family: monospace;
        font-size: 64px;
        }
        .nadpis2{
        font-family: monospace;
        font-size: 18px;
        color: #B0C2DC;
        text-align: center;</styles>

  <canvas
    class="canvas"
    height="300"
    width="300"
    style="background-color: black">
  </canvas>
  <h1 class="score"></h1>

<hr>
<div class="nadpis2">
  <h1>Credits: Denis Kozel</h1>
  <h2>Source</h2>
  <a href="https://www.youtube.com/channel/UCWkzkhQ3syxBjjAYwqCbzYg">CodeWithKris YOUTUBE</a>


{/block}