{extends layout.latte}

{block title}Výukový web{/block}

{block body}

    <img src="{$basePath}/img/mylogo.png" width="250", height="250">
    <br>

    </b>Jsem grafický designer</b> na volné noze a studuji na střední odborné škole, jako "Ajťák".
    Tato stránka slouží, jako můj webový projekt do předmětu programování.

    Grafice se věnuji už od roku 2015 a jediné co mi pomáhá je samostudium s internetem, samoobjevování a má inspirace.
    Už mám za sebou pár zakázek a myslím si, že mám dobře našlápnuto se dostat dál.

{/block}