<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{$basePath}/css/styles.css">

    <link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{$basePath}/favicon.ico" type="image/x-icon">

    <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
</head>
<body>
<hr>
<h1>Projekt - Kozel Denis</h1>

<div class="nav">
<li><a href="{link index}">Hlavni stranka</a></li>
<li><a href="{link nadpis2}">Portfolio</a></li>
<li><a href="{link nadpis3}">To co se nevešlo</a></li>
<li><a href="{link barvy}">Barvy</a></li>
    <li><a href="{link test}">Kvíz</a></li>
    <li><a href="{link piskvorky}">Piškvorky</a></li>
    <li><a href="{link had}">Had</a></li>
    <li><a href="/kontakt1.php">Kontakt</a></li>
</div>
<!--Headery, od 1 do 6. 1 je největší.-->



<a href="https://brno.educanet.cz/cs/">Student EDUCANET BRNO</a>
<hr>
                {include body}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>