{extends layout.latte}

{block title}Výukový web{/block}

{block body}
    <div class="nadpis1">
        <h2>Prvni cast</h2>
    </div>
    <bdo dir="rtl">Lorum Impsum Timpsm Lorum Timpsm</bdo>  <!--Text je pozpátku-->

    <p><strong>strong strong strong</strong><br>
        <sub>low index</sub><em>kurziva</em><sup>hign index</sup>
    </p>

    <br>
    <p><abbr title="Abbr znamena zkratka"> Abbr </abbr></p>



    <!--poznámky, nejsou vidět na stránce, ale pouze v kodu-->

    <ul>   <!--seznam, li tečka, ol čísla-->
        <li>Raz</li>
        <li>Dva</li>
    </ul>

    <ol>
        <li>Ciselne rady</li>
        <li>Raz</li>
        <li>Dva</li>

    </ol>
    <hr>
    <div class = nadpis2>
        <h3>Druha cast</h3>
    </div>
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Napoveda (Bootstrap)
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            Rozklikavaci
            <br>
            okno
        </ul>
    </div>


    <div class="alert alert-block">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Varovani (Bootstrap)!</h4>
        Priklad bootstrapu.

    </div>
    <hr>
    <div class="obrazky">
        <img src="{$basePath}/img/flora1.png" width="150", height="150"> <img src="{$basePath}/img/flora2.png"width="150", height="150"> <img src="{$basePath}/img/car.png"width="150", height="150">
    </div>
    <hr>
    <br>
    <div class = nadpis3>
        <h4>Treti cast</h4>
    </div>
    <p><cite>Nova stranka</cite> -  Denis Kozel 2020. (citace)</p>

    <p title="Text Text"> Text Text Text</p>  <!--Po přejetí kurzorem na text, zobrazí "informace" "titulek"-->

    <table style="width:50%">
        <tr>
            <th>Tabulka1</th>
            <th>Tabulka2</th>
            <th>Tabulka3</th>
            <th>Tabulka4</th>
        </tr>
        <tr>
            <td>Odpoved1</td>
            <td>Odpoved2</td>
            <td>Odpoved3</td>
            <td>Odpoved4</td>
        </tr>
        <tr>
            <td>Odpoved1</td>
            <td>Odpoved2</td>
            <td>Odpoved3</td>
            <td>Odpoved4</td>
        </tr>
        <tr>
            <td>Odpoved1</td>
            <td>Odpoved2</td>
            <td>Odpoved3</td>
            <td>Odpoved4</td>
        </tr>
    </table>

    <pre>	Pre Pre Pre Pre Pre</pre>

    <p>Paragraph<br> Novy odstavec </p>

    <div class="obal">
        <div class="box box8">denis</div>
        <div class="box box9">kozel</div>
        <div class="box box10">educa</div>
        <div class="box box11">net</div>
    </div>
{/block}