{extends layout.latte}

{block title}Výukový web{/block}

{block body}
   <i>Zde je přiložených několik mých výtvorů, zbylé výtvory lze najít na odkazu směřujícím na instagram.</i>
    <br>
    <a href="https://www.instagram.com/dennyy_kgfx/?hl=sk">INSTAGRAM - DENNYY_KGFX</a><href>
    <img src="{$basePath}/img/rennedang.png" width="400", height="400">
    <img src="{$basePath}/img/yzomandias.png" width="400", height="400">
    <img src="{$basePath}/img/stein27.png" width="400", height="400">

{/block}