{extends layout.latte}

{block title}Výukový web{/block}

{block body}

    <style>html {
            box-sizing: border-box;
        }

        *, *:before, *:after {
            box-sizing: inherit;
        }

        body {
            font-family: sans-serif;
        }

        #deska {
            border-spacing: 0;
            border-collapse: collapse;
        }

        #deska td {
            width: 50px;
            height: 50px;
            vertical-align: middle;
            text-align: center;
            font-size: 32px;
            font-weight: bold;
            border: 1px solid black;
            cursor: pointer;
        }

        #deska td:hover {
            background-color: #ffffdd;
        }

        .aktualni {
            margin: 30px 0;
            font-size: 24px;
        }

        #natahu {
            font-weight: bold;
        }
    </style>

    <h1>Piškvorky</h1>

    <table id="deska">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

<script>"use strict";

    var elementDeska;
    var elementyBunek;
    var pocetRadku;
    var pocetSloupcu;



    function priNacteniStranky() {
        // Vyhledame si v HTML element <table id="deska"> a ulozime si ho
        elementDeska = document.querySelector("#deska");
        // Vyhledame si v HTML elementy <td>
        elementyBunek = document.querySelectorAll("#deska tr > td");

        // Nase tabulka ma Y radku a X sloupcu
        pocetRadku = document.querySelectorAll("#deska tr").length;
        pocetSloupcu = document.querySelectorAll("#deska tr:first-child > td").length;

        // Pred zacatkem hry vymazeme tabulku
        vymazDesku();

        // Bunkam tabulky pridame udalost reagujici na kliknuti mysi
        pridejObsluhuKliknutiNaBunku();
    }

    // Projde celou tabulku a vymaze text ve vsech bunkach
    function vymazDesku() {
        // projdeme postupne vsechny bunky tabulky
        for (var i = 0; i < elementyBunek.length; i++) {
            // Kazdou bunku vymazeme
            var elementJedneBunky = elementyBunek.item(i);
            // elementJedneBunky.innerHTML = "W";
            elementJedneBunky.innerHTML = "";
        }
    }

    // Vsem bunkam tabulky pridame obsluhu udalosti reagujici na kliknuti mysi
    function pridejObsluhuKliknutiNaBunku() {
        if (window["priKliknutiNaBunku"]) {
            for (var i = 0; i < elementyBunek.length; i++) {
                // Kazde bunce nastavime obsluhu udalosti "click"
                var elementJedneBunky = elementyBunek.item(i);
                elementJedneBunky.addEventListener("click", priKliknutiNaBunku);
                elementJedneBunky.addEventListener("click", zkontrolujVyhru);
            }
        }
    }

    // Vsem bunkam tabulky odebereme obsluhu udalosti reagujici na kliknuti mysi
    function odeberObsluhuKliknutiNaBunku() {
        if (window["priKliknutiNaBunku"]) {
            for (var i = 0; i < elementyBunek.length; i++) {
                // Kazde bunce nastavime obsluhu udalosti "click"
                var elementJedneBunky = elementyBunek.item(i);
                elementJedneBunky.removeEventListener("click", priKliknutiNaBunku);
                elementJedneBunky.removeEventListener("click", zkontrolujVyhru);
            }
        }
    }

    // Projdeme vsechny bunky tabulky a hledame v nich radu 5 stejnych neprazdnych policek
    function zkontrolujVyhru() {
        var vyherce;
        var kamen1;
        var kamen2;
        var kamen3;
        var kamen4;
        var kamen5;

        var x;
        var y;
        for (y = 0; y < pocetRadku; y = y + 1) {
            for (x = 0; x < pocetSloupcu - 4; x = x + 1) {
                kamen1 = elementDeska.rows[y].cells[x].innerHTML.trim();
                kamen2 = elementDeska.rows[y].cells[x + 1].innerHTML.trim();
                kamen3 = elementDeska.rows[y].cells[x + 2].innerHTML.trim();
                kamen4 = elementDeska.rows[y].cells[x + 3].innerHTML.trim();
                kamen5 = elementDeska.rows[y].cells[x + 4].innerHTML.trim();
                if (kamen1 !== "" && kamen1 === kamen2 && kamen1 === kamen3 && kamen1 === kamen4 && kamen1 === kamen5) {
                    vyherce = kamen1;
                }
            }
        }
        for (y = 0; y < pocetRadku - 4; y = y + 1) {
            for (x = 0; x < pocetSloupcu; x = x + 1) {
                kamen1 = elementDeska.rows[y].cells[x].innerHTML.trim();
                kamen2 = elementDeska.rows[y + 1].cells[x].innerHTML.trim();
                kamen3 = elementDeska.rows[y + 2].cells[x].innerHTML.trim();
                kamen4 = elementDeska.rows[y + 3].cells[x].innerHTML.trim();
                kamen5 = elementDeska.rows[y + 4].cells[x].innerHTML.trim();
                if (kamen1 !== "" && kamen1 === kamen2 && kamen1 === kamen3 && kamen1 === kamen4 && kamen1 === kamen5) {
                    vyherce = kamen1;
                }
            }
        }
        for (y = 0; y < pocetRadku - 4; y = y + 1) {
            for (x = 0; x < pocetSloupcu - 4; x = x + 1) {
                kamen1 = elementDeska.rows[y].cells[x].innerHTML.trim();
                kamen2 = elementDeska.rows[y + 1].cells[x + 1].innerHTML.trim();
                kamen3 = elementDeska.rows[y + 2].cells[x + 2].innerHTML.trim();
                kamen4 = elementDeska.rows[y + 3].cells[x + 3].innerHTML.trim();
                kamen5 = elementDeska.rows[y + 4].cells[x + 4].innerHTML.trim();
                if (kamen1 !== "" && kamen1 === kamen2 && kamen1 === kamen3 && kamen1 === kamen4 && kamen1 === kamen5) {
                    vyherce = kamen1;
                }
            }
        }
        for (y = 0; y < pocetRadku - 4; y = y + 1) {
            for (x = 4; x < pocetSloupcu; x = x + 1) {
                kamen1 = elementDeska.rows[y].cells[x].innerHTML.trim();
                kamen2 = elementDeska.rows[y + 1].cells[x - 1].innerHTML.trim();
                kamen3 = elementDeska.rows[y + 2].cells[x - 2].innerHTML.trim();
                kamen4 = elementDeska.rows[y + 3].cells[x - 3].innerHTML.trim();
                kamen5 = elementDeska.rows[y + 4].cells[x - 4].innerHTML.trim();
                if (kamen1 !== "" && kamen1 === kamen2 && kamen1 === kamen3 && kamen1 === kamen4 && kamen1 === kamen5) {
                    vyherce = kamen1;
                }
            }
        }

        if (typeof(vyherce) !== "undefined" && vyherce !== null) {
            alert("Vyhr\u00E1l hr\u00E1\u010D " + vyherce);
            odeberObsluhuKliknutiNaBunku();
        }
    }

    // Nastavi obsluhu udalosti "load" (pri nacteni stranky) na funkci priNacteniStranky
    window.addEventListener("load", priNacteniStranky);
</script>

    <script>"use strict";

        var aktualniHrac;


        function priKliknutiNaBunku(infoOUdalosti) {
//    alert("Funguje");
            var elementPolicka;

// Nadefinuj prazdnou promennou elementPolicka

// Vloz do elementPolicka bunku <td> z HTML, na kterou se kliknulo
            elementPolicka=infoOUdalosti.target;
// Vloz do vnitrku bunky (tedy <td>SEM</td>) text "F"

// Vloz do vnitrku bunky (tedy <td>SEM</td>) text z promenne aktualniHrac
            elementPolicka.innerHTML=aktualniHrac;
// Vymen hodnotu v aktualniHrac
            if (aktualniHrac === "X") {

                // prikazy, pokud JE podminka splnena//
                aktualniHrac = "O"
            } else {
                // prikazy, pokud NENI podminka splnena
                aktualniHrac = "X"
            }
            elementPolicka.innerHTML = aktualniHrac;

// Pouze pokud je vnitrni obsah elementPolicka prazdny
            if (elementPolicka.innerHTML === "") {

                // prikazy, pokud je podminka splnena
                if (aktualniHrac === "X") {

                    // prikazy, pokud JE podminka splnena//
                    aktualniHrac = "O"
                } else {
                    // prikazy, pokud NENI podminka splnena
                    aktualniHrac = "X"
                }
                elementPolicka.innerHTML = aktualniHrac;
            }
        }
    </script>

{/block}