{extends layout.latte}

{block title}Test | Výukový web{/block}

{block body}
    <h1>Test: Grafický design</h1>

    <form method="post" action="{link test-vyhodnoceni}">
        <h2>Jaký je nejčastěji používaný software pro edit fotografií atp.?</h2>
        <input type="radio" id="1a" name="1" value="b" required>
        <label for="1a">Adobe Synthesis</label>
        <input type="radio" id="1b" name="1" value="c" required>
        <label for="1b">Adobe Photostore</label>
        <input type="radio" id="1c" name="1" value="a" required> {* správně *}
        <label for="1c">Adobe Photoshop</label>

        <h2>Co je nejvhodnější software na vytváření loga z těchto tří?</h2>
        <input type="radio" id="2a" name="2" value="c" required>
        <label for="2a">Gimp</label>
        <input type="radio" id="2b" name="2" value="b" required>
        <label for="2b">Adobe Photoshop</label>
        <input type="radio" id="2c" name="2" value="a" required> {* správně *}
        <label for="2c">Adobe Illustrator</label>

        <h2>Co je vodoznak?</h2>
        <input type="radio" id="3a" name="3" value="b" required>
        <label for="3a">Znak s water efektem.</label>
        <input type="radio" id="3b" name="3" value="a" required> {* správně *}
        <label for="3b">Průhledná značka, která zakrývá většinu obrázků aby zabránila krádeži.</label>
        <input type="radio" id="3c" name="3" value="c" required>
        <label for="3c">Nic, neexistuje</label>

        <h2>Jaká je tato stránka?</h2>
        <input type="radio" id="4a" name="4" value="b" required>
        <label for="4a">Dobrá.</label>
        <input type="radio" id="4b" name="4" value="a" required> {* správně *}
        <label for="4b">Skvělá</label>
        <input type="radio" id="4c" name="4" value="c" required>
        <label for="4c">Nic moc</label>

        <h2>V čem ukládáme rozpracovaný photoshop soubor?</h2>
        <input type="radio" id="5a" name="5" value="b" required>
        <label for="5a">.xfc.</label>
        <input type="radio" id="5b" name="5" value="a" required> {* správně *}
        <label for="5b">.psd</label>
        <input type="radio" id="5c" name="5" value="c" required>
        <label for="5c">.ai</label>

        <input type="submit" value="Odeslat" />
    </form>
{/block}


value a = správné odpovědi
value b+c = špatný odpovědi