body {
    background-color: #2B2C28;
}
h1 {
    color: #B0C2DC;
    text-align: center;
    font-family: monospace;
    font-size: 50px;
}
canvas {

    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nadpis{
    font-family: monospace;
    font-size: 64px;
}
.nadpis2{
    font-family: monospace;
    font-size: 18px;
    color: #B0C2DC;
    text-align: center;