body {
    background: #FBEEC1;

}


}

h1{
    color: white;
    font-size: 80px;
    font-style: italic;
    text-align: center;
    display: block;

}
h1:hover {
    color: green;
}
h2 {
    color: peru;
}

h3 {
    color: purple;
    font-size: 60px;
    font-family: monospace;

}
.dropdown-toggle {
    background-color: gray;
    color: white;
    border: 2px solid black;

}
.dropdown-menu {
    background-color: gray;
    border: 2px solid black;

}

}
h3:hover {
    color: green;
    font-style: italic;
}

.alert-block {
    background: yellow;
    border: 2px solid black;
}
* {
    margin: 15px;
    padding: 0;
}
.box {
    color: white;
    font-size: 100px;
    text-align: center;
    /*padding: 10px;*/
    width: 275px;
    /*margin: 10px;*/
}

.box8 { background: #5347ff; }
.box9 { background: #5347ff; }
.box10 { background: #ff008d; }
.box11 { background: #ff008d; }

.obal{
    display: flex;
    /*border: 15px solid yellow;*/
    /*height: 100vh;*/
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}
