{extends layout.latte}

{block title}Výukový web{/block}

{block body}

<li><a href="index.html">Hlavni stranka</a></li>
<li><a href="nadpis1.html">Prvni Cast</a></li>
<li><a href="nadpis2.html">Druha Cast</a></li>
<li><a href="nadpis3.html">Treti Cast</a></li>

<p><cite>Nová stránka</cite> -  Denis Kozel 2020. (citace)</p>

<p title="Text Text"> Text Text Text</p>  <!--Po přejetí kurzorem na text, zobrazí "informace" "titulek"-->

<table style="width:50%">
    <tr>
        <th>Tabulka1</th>
        <th>Tabulka2</th>
        <th>Tabulka3</th>
        <th>Tabulka4</th>
    </tr>
    <tr>
        <td>Odpoved1</td>
        <td>Odpoved2</td>
        <td>Odpoved3</td>
        <td>Odpoved4</td>
    </tr>
    <tr>
        <td>Odpoved1</td>
        <td>Odpoved2</td>
        <td>Odpoved3</td>
        <td>Odpoved4</td>
    </tr>
    <tr>
        <td>Odpoved1</td>
        <td>Odpoved2</td>
        <td>Odpoved3</td>
        <td>Odpoved4</td>
    </tr>
</table>

<pre>	Pre Pre Pre Pre Pre</pre>

<p>Paragraph<br> Novy odstavec </p>

<div class="obal">
    <div class="box box8">denis</div>
    <div class="box box9">kozel</div>
    <div class="box box10">educa</div>
    <div class="box box11">net</div>
</div>
{/block}

