{extends layout.latte}

{block title}Výukový web{/block}

{block body}

<li><a href="index.html">Hlavni stranka</a></li>
<li><a href="nadpis1.html">Prvni Cast</a></li>
<li><a href="nadpis2.html">Druha Cast</a></li>
<li><a href="nadpis3.html">Treti Cast</a></li>

<div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        Napoveda (Bootstrap)
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        Rozklikavaci
        <br>
        okno
    </ul>
</div>


<div class="alert alert-block">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Varovani (Bootstrap)!</h4>
    Priklad bootstrapu.

</div>
<hr>
<div class="obrazky">
    <img src="img\flora1.png" width="150", height="150"> <img src="img\flora2.png"width="150", height="150"> <img src="img\car.png"width="150", height="150">
</div>
{/block}

